body {
  margin: 6px;
  background-color: olive;
  display: flex;
  justify-content: center;
  
  #word-guess-container {
    font-family: 'Roboto Mono', sans-serif;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: antiquewhite;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.lost {
      background-color: rosybrown;
    }

    &.won {
      background-color: lightgreen;
    }

    #top-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      button {
        border: 2px black solid;
        border-radius: 5px;
      }
    }
  }
}
